{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block content %}


<h2>Pietro Novelli</h2>
<div class="head-container">
  <img src="/head.jpg" class="circle-image">
  <p>
    I am a post-doc in <a href="https://scholar.google.com/citations?user=lcOacs8AAAAJ&hl=en">M.Pontil</a>'s lab working on machine learning theory and algorithms. Before that, I was a PhD student in <a href="https://scholar.google.com/citations?user=3A0zmggAAAAJ&hl=en">M.Polini</a>'s group at the <em>Scuola Normale Superiore</em>, where I studied many-body effects in the transport and optical properties of 2D materials.
  </p>
  <br>
</div>


<h3>Research</h3>
<ul>
  <li>Machine Learning & Stochastic Processes / Dynamical Systems</li>
  <li>Reinforcement Learning</li>
  <li>Representation Learning</li>
  <li>Machine learning for atomistic simulations, with M.Parrinello's lab</li>
</ul>
<h3>Recent posts</h3>
{% for entry in archive[:5] %}

  <article>
    <header>
      <time datetime="{{ entry.date }}">{{ entry.date.strftime('%b %-d, %Y') }}</time>
      <div>
      <h2><a href="{{ entry.dst }}">{{ entry.title }}</a></h2>
      {% if entry.description %}
      <p>— {{ entry.description }}</p>
      {% endif %}
      </div>
    </header>
  </article>
{% endfor %}

{% endblock %}
